/**ztree样式调整开始**/
.ztree * {
    font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
}
.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
    *vertical-align: middle
}
.ztree li span.button.ico_docu{
    background: url("../images/folder.gif") no-repeat;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-bottom: 3px;
}
.ztree li span.button.ico_close{
    background: url("../images/folder.gif") no-repeat;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-bottom: 3px;
}
.ztree li span.button.ico_open{
    background: url("../images/folder_open.gif") no-repeat;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-bottom: 3px;
}
.ztree ul>li{
    /*padding: 0 0 4px 0;*/
    line-height: 22px;
}
.ztree li span{
    font-size: 14px;
}
.ztree li a.curSelectedNode {
    height: 22px;
    line-height: 22px;
    border: none;
    padding-top: 0;
    background-color: transparent;
    border: 0;
    opacity: 0.8;
}
.ztree li a {
    height: 22px;
    line-height: 22px;
}
.ztree li a.curSelectedNode {

}

/*选中状态*/
.ztree li a.curSelectedNode span {
    background-color: #0088cc;
    color: #fff;
    border-radius: 2px;
    /*padding: 2px;*/
}

.ztree li a.curSelectedNode span.button {
    background-color: transparent;
}

.ztree li a.curSelectedNode input {
    color: #000;
}

.ztree li a input.rename {
    border: 1px solid #7ec4cc;
    font-size: 14px;
    height: 22px;
    margin: 0;
    padding: 0;
    width: 150px;
}

.ztree li span.button.switch {
    height: 23px;
}


/**ztree样式调整结束**/